Dash/Connected Services/SrvRefSales/WSForSales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalesData">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalesDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesData" />
  </wsdl:message>
  <wsdl:message name="GetSalesDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WSForSalesSoap">
    <wsdl:operation name="GetSalesData">
      <wsdl:input message="tns:GetSalesDataSoapIn" />
      <wsdl:output message="tns:GetSalesDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSForSalesSoap" type="tns:WSForSalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesData">
      <soap:operation soapAction="http://tempuri.org/GetSalesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSForSalesSoap12" type="tns:WSForSalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesData">
      <soap12:operation soapAction="http://tempuri.org/GetSalesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSForSales">
    <wsdl:port name="WSForSalesSoap" binding="tns:WSForSalesSoap">
      <soap:address location="http://localhost:62955/WSForSales.asmx" />
    </wsdl:port>
    <wsdl:port name="WSForSalesSoap12" binding="tns:WSForSalesSoap12">
      <soap12:address location="http://localhost:62955/WSForSales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>